/*---------------------------------------------------- Color ------------------------- ------------*/
:root {

    --primary-blue: #061036;
    --primary-blue-two: #141450;
    --primary-blue-three: #913BFF;
    --white: #f9f9f9;
}

/*---------------------------------------------------- Text Selection------------------------- ------------*/
::-moz-selection {
    /* Code for Firefox */
    color: var(--white);
    background: var();
}

::selection {
    color: var(--primary-blue-three);
    background: var(--white);
}



/* -----------------------------  Google Fonts ------------------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&display=swap');

/* ------------------------------------------------------------------------------------------------------ */
/* -----------------------------  Universal Selector Start ------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------ */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    /* font-family: "Antonio", sans-serif; */
    color: var(--white);
    background-color: var(--primary-blue);
}

.conSection {
    display: flex;
    justify-content: center;
}

button {
    cursor: pointer;
    /* font-family: "Antonio", sans-serif; */
    font-family: "Poppins", sans-serif;
}

.container {
    width: 95%;
}

a {
    color: var(--white);
    text-decoration: none;
}
p{
    color: #d1d1d1;
}
.margin-left-20{
    margin: 0 20px;
}

/* ------------------------------------------------------------------------------------------------------ */
/* -----------------------------  Universal Selector End ------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------ */


/* ------------------------------------------------------------------------------------------------------ */
/* -----------------------------  Top Header Start ------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------ */


.topheaderSection {
    background-color: var(--primary-blue);
    color: #fff;
}

.topheader {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 25px 0;
}

.topheader .headLogo h1 {
    display: flex;
    align-items: center;
    column-gap: 8px;
    font-size: 32px;
    
    font-family: "Poppins", sans-serif; 

}

.topheader .headLogo h1 span {
    font-weight: 100;
    font-size: 24px;
}

.topheader .headcontact {
    display: flex;
    justify-content: end;
}

.headcontact .headcontactItem {
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.headcontactItem.center {
    margin: 0 30px;
    padding: 0 30px;
    position: relative;
}

.headcontactItem.center::after {
    background: hsla(0, 0%, 100%, .2);
    content: "";
    display: inline-block;
    height: 30px;
    position: absolute;
    top: 10px;
    right: 0;
    width: 3px;
    z-index: 1;
}

.headcontactItem.center::before {
    background: hsla(0, 0%, 100%, .2);
    content: "";
    display: inline-block;
    height: 30px;
    position: absolute;
    top: 10px;
    left: 0;
    width: 2px;
    z-index: 1;
}

.headcontact .headcontactItem img {
    height: 30px;
}

.headcontact .headcontactItem p {
    font-size: 13px;
    font-size: 100;
}

.headcontact .headcontactItem h5 {
    font-size: 13px;
    font-weight: 700;
}


/* ------------------------------------------------------------------------------------------------------ */
/* -----------------------------  Top Header End ------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------ */


/* ------------------------------------------------------------------------------------------------------ */
/* -----------------------------  Header Navbar Start------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------ */



.headerSection {

    background-color: var(--primary-blue-two);
    color: #fff;
    z-index: 999;
    position: relative;
}

/* Sidebar styling */
.sidebar {
    position: fixed;
    top: 0;
    right: -25vw;
    width: 25vw;
    height: 100%;
    background-color: #050d36;
    box-shadow: -5px 0 20px -5px rgba(0, 0, 0, .5);
    color: #fff;
    z-index: 20;
    transition: right 0.3s ease;
    overflow: hidden;
  }
  
  .sidebar.visible {
    right: 0;
  }
  
  .sidebarContent {
    padding: 25px 30px;
  }
  
  .closeBtn {
    background: none;
    border: none;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
  }
  
  

.headerSection .navbar {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
}



.headerSection.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--primary-blue);
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px; */
    /* Add any other styles for the sticky header */
}

.navbar .navbarLeft .navmenu {
    display: flex;
    align-items: center;
    list-style: none;
    column-gap: 70px;
}

.navbar .navbarLeft .navmenu li {
    padding: 16px 0;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease-in-out;
    
}

.navbar .navbarLeft .navmenu li:hover {
    color: var(--primary-blue-three);
}

.navmenu li .submenu {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    list-style-type: none;
    padding: 0;
    margin: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-height: 0;
    width: 200px;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.4s ease, opacity 0.4s ease;
    z-index: 999;
}

.navmenu li .submenu li {
    padding: 10px 20px !important;
    transition: all 0.3s ease-in-out;
}

.navmenu li .submenu li:hover {
    background-color: var(--primary-blue-three);
}

.navmenu li .submenu li a {
    text-decoration: none;
    font-size: 13px;
    color: #333;
    transition: all 0.3s ease-in-out;
}

.navmenu li .submenu li:hover a {

    color: #fff;
}

.navmenu li:hover .submenu {
    max-height: 500px;
    /* Adjust based on submenu content */
    opacity: 1;
}

.navmenu li .submenu li {
    display: block;
}



.navbar .navbarRight {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 30px;
}

.navbar .navbarRight button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.navbar .navbarRight button img {
    height: 20px;
    margin-top: 2px;
}

.navbar .navbarRight .menuBtn {
    border: 1px solid hsla(0, 0%, 100%, .2);
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}

.navbar .navbarRight .menuBtn img {
    height: 16px;
    margin-top: 0;
}

.navbar .navbarRight .menuBtn:hover {
    background-color: var(--primary-blue-three);
}



/* ------------------------------------------------------------------------------------------------------ */
/* -----------------------------  Header Navbar End  ------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------ */


/* ------------------------------------------------------------------------------------------------------ */
/* -----------------------------  Footer Section Start ------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------ */


.footerSection {
    width: 100%;
    background-color: var(--primary-blue);
    position: relative;
    overflow: hidden;
}

.footerSection .footerPatternImg{
    width: 260px;
    position: absolute;
    top: 0;
    left: 0;
    animation: updown 6s infinite;
}

.footerTopSection {
    padding: 142px 0 64px;
    border-top: 1px solid hsla(0, 0%, 100%, .1);
    border-bottom: 1px solid hsla(0, 0%, 100%, .1);
}

.footerTop {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 48px;
}
.footerTopLogo {
    position: relative;
}
.footerTopLogo h3{
    display: flex;
    align-items: center;
    column-gap: 8px;
    font-size: 42px;
    background-color: var(--primary-blue-three);
    padding: 36px 42px;
    width: fit-content;
    transform: rotate(270deg);
    position: absolute;
    left: -96px;
    top: 50px;
}
.footerTopLogo h3 span{
    font-weight: 100;
    font-size: 28px;
}

.footerMenu h6{
    font-size: 20px;
    margin-bottom: 48px;
    position: relative;
}
.footerMenu h6::before{
    border: 2px dashed var(--white);
    content: "";
    left: 0;
    position: absolute;
    top: 140%;
    width: 90px;
    z-index: 1;
}
.footerMenu ul li{
    list-style: none;
    font-size: 14px;
    margin-bottom: 24px;
    position: relative;
    padding-left: 12px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    width: fit-content;
}
.footerMenu ul li::before{
    content: "";
    top: 12px;
    left: 0;
    position: absolute;
    width: 4px;
    height: 2px;
    background-color: var(--white);
    transition: all 0.3s ease-in-out;
}
.footerMenu ul li:hover{
    padding-left: 20px;
}
.footerMenu ul li:hover::before{
    background-color: var(--primary-blue-three);
    width: 12px;
}

.socialFlex{
    display: flex;
    align-items: center;
    column-gap: 15px;
    margin-bottom: 30px;
}

.socialFlex .socialIconCon{
    width: 42px;
    height: 42px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid hsla(0, 0%, 100%, .1);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.socialFlex .socialIconCon img{
    height: 50%;
    object-fit: contain;
}
.socialFlex .socialIconCon:hover{
    background-color: var(--primary-blue-three);
}
.footerSocial a{
    font-size: 14px;
    display: block;
    font-weight: 500;
    margin: 20px 0;
    transition: all 0.3s ease-in-out;
}
.footerSocial a:hover{
    color: var(--primary-blue-three);
}

.footerBottomSection{
    padding: 48px 0;
}

.footerBottomSection p{
    font-size: 12px;
    text-align: center;
}


/* ------------------------------------------------------------------------------------------------------ */
/* -----------------------------  Footer Section End  ------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------ */



/*************************************************************************************************/




/* ------------------------------------------------------------------------------------------------------ */
/* -----------------------------  Hero Section  Start------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------ */
.heroSection {
    height: calc(100vh - 150px);
    background-color: var(--primary-blue);
}

.patternCon {
    position: relative;

}

.patternCon .patternImg {
    height: 100%;
    object-fit: contain;
    position: absolute;
    right: 0;
    top: 0;
    opacity: 1;
}

.patternCon .patternImg2 {
    height: 100%;
    object-fit: contain;
    opacity: 1;
    position: absolute;
    left: 0;
    top: 0;
}

/* .patternImgcenter{
    height: 200px;
    object-fit: contain;
    opacity: 0.1;
    position: absolute;
    right: 30%;
    top: 30%;
    animation: updown 10s infinite;
}
@keyframes updown {
    0% {
      transform: translateY(0px);
      
    }
    50% {
        transform: translateY(100px);
    }
    100% {
        transform: translateY(0px);
    }
  } */

.heroContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.heroGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    height: 75%;
    position: relative;
    z-index: 2;
}



.heroGrid .heroGridLeft h2 {
    font-size: 42px;
    font-weight: 900;
    /* Adding the animation */
    animation: slideRight 0.6s ease-out forwards;

}

/* Keyframes for slide down animation */
@keyframes slideRight {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.heroGrid .heroGridLeft h2 span {
    color: var(--primary-blue-three);
}

.heroGrid .heroGridLeft h6 {
    font-size: 14px;
    font-weight: 500;
    margin: 10px 0 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    width: fit-content;
    animation: slideRight 0.6s ease-out forwards;
    animation-delay: 0.2s;
    opacity: 0;
}

.heroGrid .heroGridLeft button {
    background-color: var(--primary-blue-three);
    border: 1px solid var(--primary-blue-three);
    padding: 10px 32px;
    border-radius: 50px;
    color: var(--white);
    font-size: 14px;
    font-weight: 600;
    animation: slideUp 0.6s ease-out forwards;
    animation-delay: 0.5s;
    opacity: 0;
}

.heroGridRight {
    display: flex;
    align-items: center;
    justify-content: center;
}

.heroGridRight img {
    height: 65vh;
    object-fit: contain;
    animation: updown 10s infinite;

}





@keyframes updown {
    0% {
        transform: translateY(0px);

    }

    50% {
        transform: translateY(-30px);
    }

    100% {
        transform: translateY(0px);
    }
}

.achivementArea {
    width: 100%;
    position: relative;
    z-index: 2;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 10px 0 32px;
    /* Adding the animation */
    animation: slideUp 0.6s ease-out forwards;
    animation-delay: 1s;
    opacity: 0;
}

.slide-down {
    animation: slideUp 1s ease-out forwards;
}

/* Keyframes for slide down animation */
@keyframes slideUp {
    from {
        transform: translateY(100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.achivementArea .achivement {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

.achivementArea .achivement img {
    height: 56px;
}

.achivementArea .achivement p {
    font-size: 11px;
    font-weight: 700;
    width: 136px;
    text-align: center;
    color: var(--white);
    border-radius: 100px;
    
    font-family: "Poppins", sans-serif; 
}



/* ------------------------------------------------------------------------------------------------------ */
/* -----------------------------  Hero Section end------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------ */


/* ------------------------------------------------------------------------------------------------------ */
/* -----------------------------  About Section  Start------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------ */


.aboutSection {
    padding: 50px 0;
    background-color: var(--primary-blue);
    /* background: linear-gradient(180deg, rgba(145, 59, 255, .1), rgba(145, 59, 255, .01)); */
    align-items: center;
    position: relative;

}

.aboutSection .aboutPatternImg{
    width: 360px;
    object-fit: contain;
    position: absolute;
    right: 20%;
    bottom: 10%;
    opacity: 1;
    animation: updown 6s infinite;
}

.aboutSection .container {
  
    z-index: 2;
}

.aboutheading h3 {
    font-size: 32px;
    line-height: 42px;
    font-weight: 700;
    margin-bottom: -24px;
    color: var(--primary-blue-three);
    font-family: "Poppins", sans-serif; 
}

.aboutheading h1 {
    font-size: 120px;
    line-height: 146px;
    font-weight: 600;
    font-family: "Poppins", sans-serif; 
}

.aboutheading h6 {
    font-size: 62px;
    font-weight: 100;
    line-height: 84px;
    margin-left: 49%;
    margin-top: -42px;
    margin-bottom: 30px;
    font-family: "Poppins", sans-serif; 
}

.aboutGrid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 100px;
    align-items: center;
    margin-top: 20px;
}

.aboutGrid .aboutGridLeft p {
    font-size: 14px;
    line-height: 25px;
    margin-bottom: 20px;
    padding-right: 10%;
}

.aboutGrid .aboutGridLeft .readMoreButton {
    background-color: transparent;
    border: 1px solid var(--primary-blue-three);
    padding: 10px 32px;
    margin-top: 30px;
    border-radius: 50px;
    color: var(--white);
    font-size: 14px;
    font-weight: 600;
}

.aboutGrid .aboutGridLeft .readMoreButton:hover {
    background-color: var(--primary-blue-three);
}

.aboutSection p {
    opacity: 0;
    transform: translateX(-30px);
    transition: all 0.6s ease-out;
    transition-delay: 0.6s;
}

.aboutSection .readMoreButton {
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.6s ease-out;
    transition-delay: 1.2s;
}
.aboutSection .readMoreButton:hover{
    background-color: var(--primary-blue-three);
    transition-delay: 0;
}

.aboutSection.visible p {
    opacity: 1;
    transform: translateX(0);
}

.aboutSection.visible .readMoreButton {
    opacity: 1;
    transform: translateY(0);
}




.aboutGrid .aboutGridRight {
    display: flex;
    flex-direction: column;
    align-items: end;
    row-gap: 30px;
}

.aboutGridRight .counterFlex {
    display: flex;
    align-items: center;
    column-gap: 12px;
    justify-content: end;
    width: fit-content;
    padding-left: 20px;
    background-color: #ffffffc0;
    padding: 14px 26px 14px 18px;
    border-radius: 12px;
    opacity: 0;
    transform: translateX(30px);
    transition: all 0.6s ease-out;
    transition-delay: 1.5s;
}


.counterFlex.visible {
    opacity: 1;
    transform: translateX(0);
}

/* .aboutGridRight .counterFlex.center{
    border-top: 1px solid hsla(0,0%,100%,.1);
    border-bottom: 1px solid hsla(0,0%,100%,.1);
    margin: 30px 0;
    padding: 30px 0;

} */

.counterIcon {
    background-color: #E7EDF8;
    width: 54px;
    height: 54px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.counterIcon img {
    width: 50%;
    object-fit: contain;
}

.counterText {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.aboutGridRight .counterFlex h2 {
    font-size: 18px;
    color: var(--primary-blue-three);
}

.aboutGridRight .counterFlex p {

    font-size: 14px;
    text-align: right;
    color: var(--primary-blue);
    font-weight: 600;
}








/* ------------------------------------------------------------------------------------------------------ */
/* -----------------------------  About Section  End ------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------ */


/* ------------------------------------------------------------------------------------------------------ */
/* -----------------------------  Recognitions Section  Start------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------ */

.recognitionSection {
    background-color: var(--primary-blue);
}

.recognitionSection .container {
    margin: 50px 0;
}

.recognitionSection h2 {
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 55px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;

}
.recognitionSection h2.visible {
    opacity: 1;
    transform: translateY(0);
}

.recognitionSection h2 span {
    color: var(--primary-blue-three);
}

.recognitionFlex {
    display: flex;
    justify-content: space-evenly;
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.6s ease-out;
    transition-delay: 0.5s;
}


.recognitionFlex.visible {
    opacity: 1;
    transform: translateY(0);
}

.recognitionFlex img {
    height: 64px;
}

.recognitionFlex.top {
    padding-bottom: 40px;
    margin-bottom: 40px;
    border-bottom: 1px dashed hsla(0, 0%, 100%, .1);
}

/* ------------------------------------------------------------------------------------------------------ */
/* -----------------------------  Recognitions Section  end------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------ */



/* ------------------------------------------------------------------------------------------------------ */
/* -----------------------------  Service Section start ------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------ */



.serviceSection{
    width: 100%;
    background: var(--primary-blue);
    padding: 100px 0 50px;
    min-height: 80vh;
}

.serviceCon .serviceTitle h2{
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 10px;
}
.serviceCon .serviceTitle h2 span{
    color: var(--primary-blue-three);
}

.serviceCon .serviceTitle p{
    font-weight: 700;
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
}

.serviceTitle h2,
.serviceTitle p,
.serviceBox {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.serviceSection h2.visible,
.serviceSection p.visible,
.serviceBox.visible {
    opacity: 1;
    transform: translateY(0);
}
.serviceGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 32px;
    margin-top: 54px;
}

.serviceBox{
    /* height: 400px; */
    background: linear-gradient(180deg, rgba(145, 59, 255, .1), rgba(145, 59, 255, .01));
    padding: 36px 32px 32px;
    position: relative;
    transition: all .3s ease 0s;
    cursor: auto;
    transition-delay: 0.5s;
}

.serviceBox::after{
    background: var(--primary-blue-three);
    content: " ";
    height: 0%;
    left: 0;
    position: absolute;
    top: 0;
    transition: all .3s ease 0s;
    width: 100%;
    z-index: -1;
}

.serviceBox:hover::after{
    height: 100%;
    z-index: 1;
}
.serviceBox .serviceBoxPattern{
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    transition: all .3s ease 0s;
    width: 132px;
}

.serviceBox:hover .serviceBoxPattern{
    opacity: 1;
    z-index: 2;
}
.serviceBoxCon{
    position: relative;
    z-index: 3;
}
.serviceBoxCon img{
    height: 60px;
    margin-bottom: 20px;
    transition: all 0.5s ease-in-out;
}
.serviceBox:hover .serviceBoxCon img{
    transform: scale(1.1);
}
.serviceBoxCon h3{
    font-size: 20px;
    margin-bottom: 10px;
}
.serviceBoxCon p{
    text-align: left;
    font-size: 12px;
    padding: 0;
}
/* ------------------------------------------------------------------------------------------------------ */
/* -----------------------------  Service Section end------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------ */


/* ------------------------------------------------------------------------------------------------------ */
/* -----------------------------  Stakeholder Section start------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------ */




.stakeholderSection{
    padding: 50px 0 0;
    background-color: var(--primary-blue);
}


.stakeholder{
    width: 100%;
}

.stakeholderTitle h2{
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 64px;
    /* opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out; */
    opacity: 0;
    transition: opacity 0.6s ease-out;

}
.stakeholderTitle h2 span{
    color: var(--primary-blue-three);
}
.stakeholderSlider{
    margin: 30px;
    opacity: 0;
    transition: opacity 1s ease-out;
    
}



.stakeholderTitle h2 {
    
}

.stakeholderSection.visible .stakeholderTitle h2{
    opacity: 1;
    animation: slideUp 1s ease-out forwards;
}
.stakeholderSection.visible .stakeholderSlider {
    opacity: 1;
    animation: slideUp 1s ease-out forwards;
    
}

.stakeholderSlider img{
    height: 60px;
    margin: auto;
}
.stakeholderSlider .slick-dots{
    display: none !important;
}


/* ------------------------------------------------------------------------------------------------------ */
/* -----------------------------  Stakeholder Section end------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------ */


/* ------------------------------------------------------------------------------------------------------ */
/* -----------------------------  Project Slider Section start------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------ */



.projectSliderSection{
    background-color: var(--primary-blue);
    padding: 50px 0;
    opacity: 0;
    transform: translateY(80px);
    transition: opacity 0.6s ease, transform 0.6s ease;
    transition-delay: 0.5s;
}
.projectSliderSection.visible {
    opacity: 1;
    transform: translateY(0);
}
.projectSliderTitle h2{
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 8px;
}
.projectSliderTitle h2 span{
    color: var(--primary-blue-three);
}
.projectSliderTitle h5{
    font-size: 15px;
    text-transform: uppercase;
}


.projectSlider{
    margin-top: 55px;
    transition: transform 0.3s ease;
    
}
.projectBox{
    
    height: 452px;
    border-radius: 2px;
    overflow: hidden;
    border: 1px solid var(--primary-blue);
    
}



.projectSlider .slick-prev,
.projectSlider .slick-next{
    top: -70px;
   
}
.slick-prev,
.slick-next{
    border: 1px solid hsla(0,0%,100%,.5);
    width: 60px;
    height: 60px;
    background-color: var(--primary-blue);
    transition: all 0.3s ease-in-out;
    z-index: 3;
}
.slick-prev:hover,
.slick-next:hover{
    background-color: var(--primary-blue-three);
    border: 2px solid var(--primary-blue-three);
}
.projectSlider .slick-next{
    right: 0;
}
.projectSlider .slick-prev{
    right: 80px;
    left: auto;

}

.slick-prev:before, .slick-next:before{
    font-family: auto;
    font-size: 24px;
    cursor: pointer;
}
.projectSlider .slick-dots{
    display: none !important;
}

.projectBox .projectBoxCon{
    margin-right: 40px;
    height: 100%;
    position: relative;
    
}

.projectBoxCon .projectImageCon{
  
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    overflow: hidden;
    
}
.projectBoxCon .projectImageCon img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s ease-in-out;
}
.projectBox:hover .projectBoxCon .projectImageCon img{
    transform: scale(1.02);
}

.projectBoxCon .projectBoxOverlay{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: end;
    position: relative;
    z-index: 2;
    background: linear-gradient(to top right, #00064db2 0%, #00000000 100%);
    transition: all 0.5s ease-in-out;

}
.projectBoxOverlay::after{
    background: linear-gradient(to bottom, #00000000 0%, #a159ff 100%);
    content: " ";
    height: 0%;
    left: 0;
    position: absolute;
    bottom: 0;
    transition: all .3s ease 0s;
    width: 100%;
    z-index: -1;
}
.projectBoxOverlay:hover{
    background-color: transparent;
}

.projectBoxOverlay:hover::after{
    height: 100%;
    z-index: 1;
}
.projectBoxOverlay .projectText{
    position: relative;
    z-index: 2;
    padding: 0 36px 24px 30px;
    
}
.projectText .projectLink{
    width: 50px;
    height: 0px;
    border-radius: 100px;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-blue-three);
    transform: rotate(320deg);
    font-size: 22px;
    margin-top: 10px;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    opacity: 0;
}
.projectText .projectLink:hover{
    color: var(--white);
    background-color: var(--primary-blue-three);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.projectBox:hover .projectText .projectLink{
    height: 50px;
    opacity: 1;
}

.projectText h5{
    font-size: 15px;
    font-weight: 400;
    border-bottom: 1px solid var(--white);
    margin-bottom: 10px;
    width: fit-content;
}
.projectTextLines{
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 20px;
    height: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}
.projectBox:hover .projectTextLines{
    height: auto;
}



/* ------------------------------------------------------------------------------------------------------ */
/* -----------------------------  Project Slider Section End  ------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------ */




/* ------------------------------------------------------------------------------------------------------ */
/* -----------------------------  Team Section Start  ------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------ */





.teamSection{
    padding: 50px 0;
}

.teamTitle h2{
    text-align: center;
    margin-bottom: 8px;
    font-size: 50px;
    font-weight: 600;
}
.teamTitle h2 span{
    color: var(--primary-blue-three);
}
.teamTitle h5{
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
}

.teamGrid{
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 0;
    column-gap: 10vw
}

.teamGrid.teamGrid2{
    grid-template-columns: repeat(2, 1fr);
    padding: 0 15%;
    margin-top: 55px;
}




  .teamText{
    background-color: var(--white);
  }

  .teamBox .teamBoxCon{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .teamBoxCon .teamImgCon{
    width: calc(100% - 32px);
    height: 300px;
    background: linear-gradient(180deg,rgba(145, 59, 255, .01), rgba(145, 59, 255, .1) );

    /* background-color: #DFE4E6; */
    position: relative;
    display: flex;
    align-items: end;
    justify-content: center;
}
.teamBoxCon .teamImgCon::after{
    content: '';
    right: -16px;
    width: 16px;
    height: 60%;
    bottom: 0;
    margin: 0 auto;
    position: absolute;
    background-color: #1E264A;
    
    transition: all .3s ease 0s;
}
.teamBoxCon .teamImgCon::before{
    content: '';
    left: -16px;
    width: 16px;
    height: 60%;
    bottom: 0;
    margin: 0 auto;
    position: absolute;
    background-color: #1E264A;
   
    transition: all .3s ease 0s;
}

.teamImgCon img{
    height: 100%;
}
.teamBox:hover .teamBoxCon .teamImgCon::after{
    background-color: var(--primary-blue-three);
}
.teamBox:hover .teamBoxCon .teamImgCon::before{
    background-color: var(--primary-blue-three);
}


.teamBoxCon .teamText{
    background-color: #eddfff;
    width: 100%;
    padding: 20px 0;
    text-align: center;
    position: relative;
    z-index: 2;
    transition: all .3s ease 0s;
    
}
.teamBoxCon .teamText p{
    font-size: 18px;
    font-weight: 300;
    color: var(--primary-blue-three);
}
.teamBoxCon .teamText h3{
    font-size: 22px;
    font-weight: 800;
    color: var(--primary-blue-two);
}
.teamBox:hover .teamBoxCon .teamText{
    background-color: var(--white);
}
.teamTextcon{
    position: relative;
    width: 100%;
}
.teamTextcon .teamSocial{
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: 0px;
    transition: all 0.3s ease-in-out;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;

}

.teamSocial .teamSocialLink{
    width: 42px;
    height: 42px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-blue-three);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.teamSocial .teamSocialLink:hover{
    background-color: var(--primary-blue);
}

.teamSocial .teamSocialLink img{
    height: 50%;
    object-fit: contain;
}
.teamBox:hover .teamTextcon .teamSocial{
    top: -60px;
}

.teamTitle,
.teamGrid {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.teamTitle.visible,
.teamGrid.visible {
    opacity: 1;
    transform: translateY(0);
}



/* ------------------------------------------------------------------------------------------------------ */
/* -----------------------------  Team Section End  ------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------ */



/* ------------------------------------------------------------------------------------------------------ */
/* -----------------------------  Products Section Start  ------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------ */


.productSection{
    padding: 50px 0;
    min-height: 60vh;
    opacity: 0;
    transform: translateY(80px);
    transition: opacity 0.6s ease, transform 0.6s ease;
    transition-delay: 0.5s;
}
.productSection.visible {
    opacity: 1;
    transform: translateY(0);
}
.productGrid{
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 100px;
    align-items: center;
}

.productTitle h2{
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 8px;
}
.productTitle h2 span{
    color: var(--primary-blue-three);
}
.productTitle h5{
    font-size: 15px;
    text-transform: uppercase;
}
.productGridLeft{
    border-right: 1px solid hsla(0, 0%, 100%, .1);
}
.productGridLeft h3{
    font-size: 36px;
    line-height: 42px;
    color: #fff;
}
.productGridLeft h3 span{
    color: var(--primary-blue-three);
}
.productGridLeft h4{
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
}
.instituteSlider {
    margin-top: 80px;
}

.instituteSlider .institute {
    padding-right: 36px;
    box-sizing: border-box;
    text-align: center;
}

.instituteSlider .institute img {
    width: 92px;
    border-radius: 12px;
}

/* Slick Slider Customizations */
.instituteSlider .slick-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 520px;
}

.instituteSlider .slick-dots {
    bottom: -30px;
}




.instituteSlider .slick-prev {
    display: none !important;
}

.instituteSlider .slick-next {
    right: -100px;
}


.productIcon{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.productIcon.first{
    border-bottom: 1px solid hsla(0, 0%, 100%, .1);
    padding-bottom: 30px;
}
.productIcon img{
    height: 232px;
}
.productIcon a{
    background-color: transparent;
    border: 1px solid var(--primary-blue-three);
    padding: 10px 32px;
    border-radius: 50px;
    color: var(--white);
    font-size: 14px;
    font-weight: 600;
}

/* ------------------------------------------------------------------------------------------------------ */
/* -----------------------------  Products Section End  ------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------ */




/* ------------------------------------------------------------------------------------------------------ */
/* -----------------------------  Testimonial Section Start  ------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------ */

.testimonialBox{
    overflow: hidden;
}

.testimonialBox .testimoniaBoxCon{
    margin-right: 40px;
    position: relative;
    background-color: rgba(16,76,186,.1);
    border-radius: 10px;
    padding: 50px 30px 30px;
}
.testimoniaBoxCon h4{
    font-size: 20px;
    margin-bottom: 25px;
    font-weight: bold;
}


.testimonialuserrattings{
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.testimonialuser{
    display: flex;
    align-items: center;
    column-gap: 20px;
}
.testimonialuser h4{
    margin-bottom: 0;
    font-weight: 600;
}
.testimonialuser p{

}
.testimonialuser img{
    border-radius: 10px;
    background-color: var(--white);
    height: 64px;
}
.testimonialrattigs{
    display: flex;
    align-items: center;
    column-gap: 5px;
    color: #f2c94c;
    font-size: 20px;
}

/* ------------------------------------------------------------------------------------------------------ */
/* -----------------------------  Testimonial Section End  ------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------ */